<html>
    <head>
        <meta charset="utf-8"/>
        <title>churnjr</title>
    </head>
    <body>
        <h1>Churn JR application</h1>
        
        <form action="/predict-csv" method="post" enctype="multipart/form-data">
            <div id="item1">
                <p>customer.csv</p>
                <input type="file" name="customers_file"/>
                <p>indicators.csv</p>
                <input type="file" name="indicators_file"/>
                <input type="submit" />
            </div>
        </form>
        <p>
            {{message}}
        </p>
    </body>
 </html>